{% extends "layout.html" %}

{% block body %}
    <h3>Hakkında</h3>
    <hr>Haberleşmenin ve iletişimin gün geçtikçe önem kazanması, 
    iletişim kanallarının teknoloji ile paralel gelişimi, bunun sonucu olarak elektronik haberleşme ağlarının yayılması, 
    interneti günlük yaşamımızın vazgeçilmez bir parçası haline getirmiştir. 
    Gerek kurumsal gerek bireysel aktivitelerde büyük rol oynayan ve hayatımızı kolaylaştıran bu ağlarda 
    her gün büyük miktarlarda bilgi ve veri üretilmektedir. Bunların üretilmesi, iletilmesi, 
    saklanması birbirinden farklı konu başlıklarıdır fakat bu projede bu bilgilerin analizi ile ilgileneceğiz. 
    Bu bilgilerin analizi sonucunda elde edeceğimiz çıktılar bize psikoloji, sosyoloji, ekonomi gibi
     farklı alanda araştırma konusunda ışık tutacak girdiler olabileceklerdir. Bu yazılım sistemi, 
    COVID-19 ile ilgili metinlerin konularını belirleyecek, yapay zeka algoritmaları ile bu içerikler hakkında veri üretecektir.
    selam ege<hr>
{% endblock body %} 