{% extends "layout.html" %}

{% block body %}
    <div class = "jumbotron text-center">
        <h3>Hoş geldiniz.</h3>
        <p>Metin madenciliği, metinleri belirli bir yapıya sokarak bu metinler üzerinden gerçekleşen işlemler sonucunda,
         işlenen metinler hakkında anlamlı örüntüler ve metin hakkında metadata üretme sürecidir. 
         Metin madenciliği, duygusal analizden reklam yerleştirmeye, 
         anlambilimsel çalışmalardan sosyal medya analizleri gibi birçok alanda kullanılmaktadır.
         Bu sistemin amacı yazılı içeriklerin soyut örüntüleri üzerinden konularını belirlemek, 
         yapay zeka algoritmaları ile bu içerikler hakkında veri üretmektir.

         Metin madenciliği aracı temel alınarak geliştirilmiş bu web uygulaması, kullanıcılarına metinleri yükleyebildiği, 
         saklayabildiği, bu metinleri uygulamanın sağladığı API üzerinden konu modellemesi yapmalarına olanak sağlayan bir platformdur.
        </p>
    </div>

{% endblock body %} 
